<div class="w-full h-full p-4">
  <div class="w-full h-full rounded-xl shadow-lg">
    <div class="h-56 w-full rounded-t-rounded-xl">
      <img src="assets/img/placeholder.svg" class="object-cover w-full h-56 rounded-t-xl">
    </div>
    <div class="w-full h-full rounded-b-xl">
      <div class="p-4">
        <h1 class="font-bold text-2xl">Departamento no. 1</h1>
        <p class="font-base mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent
          libero...</p>
        <div class="w-full flex justify-between items-center mt-3">
          <b>$150 / night</b>
          <button class="shadow-md border-solid border-gray-400 border rounded-md p-1 px-3
            flex justify-center items-center ripple-effect"><ng-icon name="heroPlusSolid" class="mr-1" /> Book now
          </button>
        </div>
      </div>
      <button class="rounded-b-xl w-full ripple-effect p-2 border-solid border-gray-400 border">View details</button>
    </div>
  </div>
</div>