<div class="bg-mag-900 w-full mt-3">
  <div class="w-full flex justify-center items-center p-4">
    <img src="assets/img/logo.svg" alt="">
  </div>

  <div class="grid grid-cols-12 gap-4 text-white">
    <div class="lg:col-span-4 sm:col-span-12 md:col-span-12 col-span-12">
      <div class="flex justify-center items-center mb-2">
        <ion-icon name="logo-facebook"></ion-icon>
        <a href="#">Enlace a Facebook</a>
      </div>
      <div class="flex justify-center items-center mb-2">
        <ion-icon name="logo-instagram"></ion-icon>
        <a href="#">Enlace a Instagram</a>
      </div>
    </div>
    <div class="lg:col-span-4 sm:col-span-12 md:col-span-12 col-span-12">
      <div class="flex justify-center items-center mb-2">
        <ion-icon name="map-outline"></ion-icon>
        <a href="#">Ubicación de la central</a>
      </div>
      <div class="flex justify-center items-center mb-2">
        <ion-icon name="globe-outline"></ion-icon>
        <a href="#">URL de la institución</a>
      </div>
    </div>
    <div class="lg:col-span-4 sm:col-span-12 md:col-span-12 col-span-12">
      <div class="flex justify-center items-center mb-2">
        <ion-icon name="call-outline"></ion-icon>
        <a href="#">Información de contacto</a>
      </div>
    </div>
  </div>
</div>