<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-base">Escanee el QR para dar de alta su visita</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Como funciona?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      En su instancia en las parcelas, debe escanear el QR provisto, para dar de alta su visita. Una vez que abandona el
      lugar, debe escanear nuevamente, para dar de baja la misma
    </ion-card-content>
  </ion-card>

  <!-- SCAN RESULT -->
  <ion-card>
    <ion-card-content *ngIf="parcela">

      <ion-item>
        <ion-label position="fixed">Parcela</ion-label>
        <ion-input type="text" readonly [value]="parcela.nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Casa mutual</ion-label>
        <ion-input type="text" readonly [value]="parcela.casa_mutual"></ion-input>
      </ion-item>

      <!-- Solo es para marcar registro de los ingresos? O controlar quien esta y los disponibles? -->
      <!-- Da ingreso por número de socio -->
      <div class="flex w-full justify-around mt-4">
        <button [disabled]="status == 1 ? false : true" class="rounded-md mb-2 text-white p-3 text-lg"
          [ngClass]="{'shadow-md bg-mag-300 transition-all duration-300 hover:bg-mag-600': status == 1, 'bg-mag-100': status != 1}"
          (click)="visible = true">Marcar ingreso</button>

        <button [disabled]="status == 0 ? false : true" class="rounded-md mb-2 text-white p-3 text-lg"
          [ngClass]="{ 'bg-mag-800 transition-all duration-300 hover:bg-mag-900 shadow-md': status == 0, 'bg-mag-100': status != 0 }"
          (click)="visible = true">Marcar salida</button>
      </div>

    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Opciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <button class="rounded-md mb-2 text-white p-3 w-full text-lg" [ngClass]="{ 'shadow-md bg-mag-300 transition-all
        duration-300 hover:bg-mag-600': isSupported, 'bg-mag-200': !isSupported }" (click)="presentModal()"
        [disabled]="!isSupported">Escanear</button>

      <button class="rounded-md mb-2 text-white p-3 w-full text-lg" [ngClass]="{ 'shadow-md bg-mag-300 transition-all
        duration-300 hover:bg-mag-600': isSupported, 'bg-mag-200': !isSupported }" (click)="readBarcodeFromImage()"
        [disabled]="!isSupported">Leer QR desde una imagen</button>

      <button class="rounded-md mb-2 text-white p-3 w-full text-lg" [ngClass]="{ 'shadow-md bg-mag-300 transition-all
        duration-300 hover:bg-mag-600': isSupported, 'bg-mag-200': !isSupported }" (click)="openSettings()"
        [disabled]="!isSupported">Abrir configuración</button>

      <button class="shadow-md rounded-md mb-2 bg-mag-300 transition-all duration-300 hover:bg-mag-600
          text-white p-3 w-full text-lg" (click)="requestPermissions()">Solicitar permisos de cámara</button>

    </ion-card-content>
  </ion-card>


</ion-content>

<ion-modal #modal (willDismiss)="onWillDismiss()">
  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-title>Escanear QR</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content id="scanner" class="barcode-scanning-modal">
      <div #square class="square"></div>
      <div class="zoom-ratio-wrapper">
        <ion-range [min]="minZoomRatio" [max]="maxZoomRatio"
          [disabled]="minZoomRatio === undefined || maxZoomRatio === undefined"
          (ionChange)="setZoomRatio($any($event))"></ion-range>
      </div>
      <ng-container *ngIf="isTorchAvailable">
        <ion-fab slot="fixed" horizontal="end" vertical="bottom">
          <ion-fab-button (click)="toggleTorch()">
            <ion-icon name="flashlight"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ng-container>

      <ion-fab slot="fixed" vertical="bottom" horizontal="start">
        <ion-fab-button (click)="readBarcodeFromImage()">
          <ion-icon name="image"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>

  </ng-template>
</ion-modal>

<m-modal-parcelas [(visible)]="visible" [parcela]="parcela!" [type]="status" />