@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

@font-face {
  font-family: "urbanist";
  src: url("./assets/fonts/Urbanist-Regular.ttf");
}

* {
  font-family: urbanist;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #f7d0b6; /* Se invierte el color final para que quede el real #082f49 */
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  filter: invert(1);
}

/* Ripple button effects */
.ripple-effect {
  position: relative;
  overflow: hidden;
}
.ripple-effect .ripple {
  position: absolute;
  border-radius: 50%;
  /* To make it round */
  background-color: rgba(255, 255, 255, 0.247);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  /* for positioning */
  margin-left: -50px;
  animation: ripple 1s;
  opacity: 0;
}
/* Add animation */
@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
/* End ripple button effects */

/* Show | Hide containers */
.hide {
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 0;
  display: grid !important;
  grid-template-rows: 0fr;
}

.hide > div {
  overflow: hidden;
}

.show {
  grid-template-rows: 1fr;
  transition: all 0.3s ease;
}
/* End Show | Hide containers */

/**
  * Barcode Scanning
  * -------------------------------------------
  */
body.barcode-scanning-active {
  visibility: hidden;
  --background: transparent;
  --ion-background-color: transparent;
}

.barcode-scanning-modal {
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  .barcode-scanning-modal {
    --background: transparent;
    --ion-background-color: transparent;
  }
}
