<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)" class="min-h-[100vh]">
  <m-navbar [scroll]="isScroll" [height]="height">
    <ng-template #customContent>
      <!-- Select distrito -->
      <m-select [placeholder]="'Seleccione un distrito'" [options]="options" [optionLabel]="'id'"
        [optionValue]="'value'" [(selectedValue)]="distrito" (selectedValueChange)="restartValues()" />
    </ng-template>
  </m-navbar>

  <div class="min-h-[46.9vh]">
    <!-- Selección de la habitación disponible -->
    <div class="w-full hide" [ngClass]="{ 'show': distrito }">
      <div class="flex justify-center items-center w-full">
        <div class="p-4 max-w-[600px] w-full flex-1">
          <m-select />
        </div>
      </div>
    </div>

    <!-- Selección de las fechas -->
    <div class="w-full hide" [ngClass]="{ 'show': distrito }">
      <div class="flex justify-center items-center w-full">
        <div class="p-4 max-w-[600px] w-full flex-1">
          <m-calendar [show]="true" />
        </div>
      </div>
    </div>

    <!-- Reglas de convivencia -->
    <div class="w-full">
      <div class="flex justify-center items-center w-full">
        <div class="p-4 max-w-[600px] w-full flex-1">
          <p><b class="text-red-900">Recuerde: </b> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis
            porro earum ex aspernatur quaerat nihil tempora commodi eaque cumque sit quis alias, omnis rem voluptatum
            fuga. Sapiente possimus consequuntur debitis.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <m-footer />

  <m-modal />
</ion-content>